@CHARSET "UTF-8";

form{
	margin:0 10px;
}

.user-story-table-fixed {
	width: 80%;
}

.user-story-fieldset-fixed {
	margin-left: -21px;
}

.noborder,.noborder tr,.noborder th,.noborder td {
	border: none;
}

.us-data-fixed-col {
	width: 340px;
}

.us-label-fixed-col {
	width: 45px;
}

#userStoryForm\:usNameMsgs ,#userStoryForm\:usNameEditMsgs{
	width: 250px;
	margin:0;
}

.userStoryList .ui-progressbar .ui-progressbar-value, #userStoryForm .ui-progressbar .ui-progressbar-value {
	margin: 0px;
}
.userStoryList .ui-progressbar-label, #userStoryForm .ui-progressbar-label {
	bottom: 1px;
}

.relatedIssue{
	-webkit-box-shadow: 0px 0px 10px 2px #888 !important;
	box-shadow: 0px 0px 10px 2px #888 !important;
	-moz-box-shadow: 0px 0px 10px 2px #888 !important;	
}

.ui-editor textarea, .ui-editor iframe {
    width: 100% !important;
}

.fix-max-width .ui-editor {
    width: 731px;
}

@media (max-width: 980px) {
    .fix-max-width .ui-editor {
        width: 577px !important;
    }
    body {
        min-width: 718px;
    }
    #body-div.container {
        min-width: 724px;
    }
}